# Next.js ビルド成果物
.next/

# 依存ライブラリ
node_modules/

# 環境変数ファイル（必要なら）
.env.local
.env.development.local
.env.test.local
.env.production.local

# ログや一時ファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code ワークスペース設定（必要なら）
.vscode/
